/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

.brand_heading { color: #fed136; font-size:35px; font-style: italic; font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive; }

body { padding-top: 70px; padding-bottom: 50px; }

.img_size { height: 300px; width: 240px;}

.padding_bottom { padding-bottom: 30px; }

.movie_title { color: #fed136; font-size:20px; font-style: bold; font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive; }