<div class="navbar navbar-inverse navbar-default navbar-fixed-bottom">
  <div class="container">
    <% if current_user && current_user.admin? %>
      <%= link_to "GO TO ADMIN PANEL", admin_users_index_path, class:"navbar-btn btn-danger btn pull-right" %>
    <% end %>
  </div>
</div>